/* Background styling */
body {
    background-image: url('nsm/bg2.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: top-left;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Styling for message and results */
#message, #results {
    background-color: rgba(0, 0, 0, 0.7); 

/* Transparent black background */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    color: #fff;
}

/* Center form */
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Select styling */
select {
    margin: 10px 0;
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 10px;
}

/* Input styling */
input {
    margin: 10px 0;
    padding: 11px;
    width: 35%;
    border: none;
    border-radius: 10px;
}

/* Button styling */
button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
}

button:hover {
    background-color: #0056b3;
}


/* Dropdown Menu */
.dropdown {
    position: absolute;
    top: 10px;
    left: 10px;
}

.menu-btn {
    background-color: #fff;
    color: #000;
    width:40px;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown-content a {
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #808080;
}

.menu-btn:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
}

/* Warning text */
warning {
    font-size: 18px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin: 10px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: none;
    text-align: left;
    font-size: 14px;
}
    
